table {
   border-radius: 10px;  
 
}

th {
padding: 10px;
text-align: center;
color: blueviolet;



}


td{
    padding: 10px;
    text-align: center;
    color : red ;
}

.button1{
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
 
}

.tableau{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    
  
}
